/*============== Google font ================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*================ Component style ================*/
@import url("component/section-title.css");
@import url("component/specialization-card.css");
@import url("component/doctor-card.css");
@import url("component/blog.css");

/*================ Pages style ================*/
@import url("pages/doctor.css");
@import url("pages/profile.css");

/*============== Utilities ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/*============== Header style ================*/
.nav-logo {
  width: 150px;
}
.nav-link {
  font-weight: 500;
  color: #3a3a3a;
}
.nav-link:hover {
  color: #0d6efd;
}

/*============== Hero style ================*/
.hero {
  padding-top: 60px;
  margin-bottom: 100px;
}
.hero-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
}
.hero-title {
  font-size: 36px;
  color: #212121;
  font-weight: 700;
}
.hero-title span {
  color: #0d6efd;
}
.hero-description {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #3a3a3a;
}

/*============== specialization section style ================*/
.specialization {
  margin-bottom: 100px;
}

/*============== Blog doctor style ================*/

/*============== Small device style ================*/
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 30px;
  }
  .hero-content {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .text-text {
    display: grid;
    place-items: center;
  } */
  /* .hero-content > .hero-image {
    grid-column-start: 1;
    grid-row-start: 1;
  } */
  .hero-title {
    font-size: 24px;
    font-weight: 700;
  }
}

/*============== Medium device style ================*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero-title {
    font-size: 24px;
    font-weight: 700;
  }
}

/* .tabs-container {
  background-color: #fff;
  border-bottom: 1px solid rgba(229, 229, 229);
}
.tab-btn {
  padding: 12px;
  padding-bottom: 12px;
  border: none;
  background: none;
  font-size: 16px;
  /* color: #3392ff; */
  color: rgb(115, 138, 140);
  font-weight: 600;
}
.active-tab {
  color: #2585f8;
  border-bottom: 2px solid #2585f8;
}

.content-box .content {
  display: none;
}
.content-box .content.active-content {
  display: block;
} */
